<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="hospital_system.Properties.Settings.hospitalConnectionString"
            connectionString="Data Source=NOURS-PC;Initial Catalog=hospital;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="hospital_system.Properties.Settings.ConnectionString"
            connectionString="Data Source=NOURS-PC;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>